<div>
    <iframe class="object-cover w-screen aspect-auto h-screen" src="https://www.youtube.com/embed/avz06PDqDbM?autoplay=1&mute=1&loop=1&controls=0" frameborder="0"></iframe>
</div>

<div class="h-screen bg-white">
    <div class="pt-[20%] px-24 absolute h-full text-white bg-gradient-to-tr from-black">
        <h1 class="text-6xl font-bold">Mission Impossible</h1>
        <p class="inline-block py-6 text-xl w-3/5 flex-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div>
            <button class="bg-white text-black py-4 px-12 text-xl rounded-lg hover: bg-opacity-70">Play</button>
            <button class="mx-2 py-4 px-12 bg-gray-500 text-xl bg-opacity-50 rounded-lg">More info</button>
        </div>
    </div>
</div>