<div>
    <div class="max-w-sm rounded overflow-hidden bg-gray-700 text-white hover:shadow-2xl hover: shadow-white">
        <img class="w-full" src="/assets/stock.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-1">
            <div class="font-bold text-xl mb-2">{{movie?.title}}</div>
            <div class=" mb-2"><span class="mxl-3">{{movie?.type}}</span><span class="mx-3">{{movie?.duration}}</span></div>
        </div>
        <div class="px-6 pb-2 flex">
            <span
                class="inline-block pxr-3 py-1 text-sm font-semibold text-gray-200 mr-2 mb-2">{{movie.listedIn[0]}}</span>
                &nbsp;
            <span
            class="inline-block pxr-3 py-1 text-sm font-semibold text-gray-200 mr-2 mb-2">{{movie.listedIn[1]}}</span>
        </div>
    </div>
</div>